.MainContent{
    display: flex;
    flex-direction: column;
    background-color: grey;
    width: 100%;
    align-content: center;

}
/* Nav Bar Styling */
.nav-bar-componet{
    width: 100%;
    flex-grow : 1;
    background-color: purple;
}
/* Message Componet Styling */
.message-componet{
    
    height: 76%;
    background-color: pink;
    padding-top : 0.3em;
    padding-bottom : 0.3em;
    padding-left: 1.8em;
    padding-right: 1.8em;
    overflow-y: auto;
}

.text-box-message-componet{
    width: 100%;
    flex-grow : 1;
    background-color: steelblue;

}


.message-box{
    
    word-wrap: break-word;
    margin-top: 1em;
    width: 75%;
    padding: 1em;
}

.message-list-area{
    list-style-type: none;
    padding: 0;
}

.message-list-area > li{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    
}

.message-list-area > li.message.left{
    justify-content: flex-start;
    
    
}


.message-list-area > li.message.right{
    justify-content: flex-end;
  
    
}

.message-list-area > li.message.left > .message-box{
    background-color: green;
    
}

.message-list-area > li.message.right > .message-box{
    background-color: blue;
    
    
}