 /* Search
--------------------------------*/

.search-users{
    height: 10%;
    width: 100%;
    background-color: purple;
}

.search-users form input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  width: 50%;
  padding: 0;
  margin: 0;
  border: 0;
  padding: 1em;
  border-radius: 1em;

}

.search-users form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  
}