
/* SideBar Styling 
--------------------------------*/
.sidebar{
    
    /* transition: width 0.5s; */
    width: 0%;
    display: flex;
    flex-direction: column;
    width:0;
    padding: 0;
    visibility: hidden;
    transition: all 0.5s ease;
  
  }
  
  .sidebar.active{
    width:100vw;
    padding: 0.5;
    visibility: visible;
  }
  
  
  
  @media (min-width:  576px) { 
    .sidebar.active{
      width:100vw;
      padding: 0.5;
      visibility: visible;
    }
   }
  
  /* // Medium devices (tablets, 48em and up) */
  @media (min-width: 768px) { 
    .sidebar.active{
      width:100vw;
      padding: 0.5;
      visibility: visible;
    }
   }

   @media (min-width: 991) { 
    .sidebar.active{
      width:30vw;
      padding: 0.5;
      visibility: visible;
    }
   }
  
  /* // Large devices (desktops, 62em and up) */
  @media (min-width: 1200px) { 
    .sidebar.active{
      width:30vw;
      padding: 0.5;
      visibility: visible;
    }
  }



  




 

 

  /* User State Toggler
--------------------------------*/

.users-type-toggler{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.users-type-toggler-list{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.users-type-toggler-list .item-type{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


 